.signup-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.signup-form h2 {
  text-align: center;
  font-size: 1.5em;
  color: rgb(63, 60, 60);
  filter: drop-shadow(8px 8px 4px rgb(119, 119, 56));
}

.signup-form label {
  display: block;
  margin: 30px auto;
}

.signup-form span {
  display: block;
  margin-bottom: 6px;
}

.signup-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
}
